// create variables for fonts, breakpoints, and colors.// Use this partial to create variables for your repeated values. At minimum, create variables for fonts, breakpoints, and colors. Import this partial into your utilities/index.scss file

//Colors
$white: #fff;
$color-text: #919191;
$color-bg: #58e1c1;
$color-bg-light: #51ddfc;
$color-hover: #fafafa;
$headl-primary-color: #58e1c1;
$login: #51ddfc;

$buttons-colors: (
  'default': #51ddfc,
  'success': #63cc82,
  'error': #e4757a,
  'warning': #fd7856,
  'info': #927bc1,
);

$grid-colors: (
  '12': #80e8d1,
  '6': #3fabca,
  '4': #7ee6fd,
  '3': #deb2ee,
  '5': #88d9a0,
  '7': #ec9fa3,
  '8': #fd9f85
);

//Fonts

$font-stack-primary: "Helvetica neue", sans-serif;
$font-stack-secondary: "Bree Serif", serif;

//Size text

$btn-text: 1.3rem;
$bquote: 1.3rem;
$text-primary: 0.9rem;
$headl-primary: 1.7rem;
$width: 100%;

//Breakpoints
$break-m: 768px;
