// create variables for fonts, breakpoints, and colors.// Use this partial to create variables for your repeated values. At minimum, create variables for fonts, breakpoints, and colors. Import this partial into your utilities/index.scss file

//Colors

$white: #fff;
$color-text: #919191;
$color-bg: #51ddfc;
$color-bg-light: #009fe1;
$color-hover: #fafafa;
$headl-primary-color: #58e1c1;
$default: #4dffff;
$success: #63cc82;
$errors: #ec8268;
$warning: #fd7856;
$info: #927bc1;
$login: #51ddfc;

$grid-colors: (
  '12': #80e8d1,
  '6': #3fabca,
  '4': #67c5e4,
  '3': #deb2ee,
  '5': #63e963,
  '7': #ec9fa3,
  '8': #fac8ba
);

//Fonts

$font-stack-primary: "Helvetica neue", sans-serif;
$font-stack-secondary: "Bree Serif", serif;

//Size text

$btn-text: 1.3rem;
$bquote: 1.7rem;
$text-primary: 1rem;
$headl-primary: 1.7rem;
$width: 100%;

//Breakpoints
$break-m: 768px;
