// Media Queries
// Flexbox settings
@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin media($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin images($image) {
  
  @if $image == "frame" {
    // @include flexy($dir: row, $just: space-around);
    border: 1px solid #ddd;
    // border-radius: 4px;
    padding: 12px;
    // margin-left:auto;
    height: auto;
    max-width: 95%;
  } @else if($image == "logo") {
    max-width: 200px;
    margin-left: 20px;
    
  } @else {
    max-width: 200px;
    padding:10px;
    // margin-left:40px;
    height: auto;
  }
}
