// Flexbox settings
@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

// Media Queries
@mixin media($size) {
  @media (min-width: $size) {
    @content;
  }
}

//Images
@mixin images($image) {
  width: 100%;
  @if $image == "frame" {
    border: 1px solid #d3d3d3;
    padding: 10px;
    height: auto;
    margin: auto auto 10px auto;
    max-width: 400px;
  } @else if($image == "logo") {
    display:block;
    max-width: 150px;
    margin:0 auto;
    margin-bottom: 20px;
  } @else {
    width: 57%;
    max-width: 180px;
    margin: 8% auto;
    height: auto;
  }
}
