// Media Queries
// Flexbox settings
@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
}

@mixin media($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin images($image) {
  @if $image == "frame" {
    border: 1px solid #d3d3d3;
    padding: 15px;
    height: auto;
     margin-top:30px;
    max-width: 94%;
  } @else if($image == "logo") {
    max-width: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
  } @else {
    max-width: 200px;
    margin:30px auto auto;
    height: auto;
  }
}
