// Links 
// Images 
// Headlines 
// Nav items 
// Components
%style-buttons-cols {
    padding: 10px 10px;
    border-radius: 7px;
    border:none;
    // text-align: center;
    // width:100%;
    @include media(1440px){
      font-size: get-vw(20px);
    }
    @include media(768px) {
      font-size: get-vw(22px);
    }
    @include media(1024px) {
      font-size: get-vw(18px);
    }
  
}
