// Buttons:
// .btn--default
// .btn--success
// .btn--error
// .btn--warning
// .btn--info
// .theme__colors.

@each $button, $value in $buttons-colors {
  .btn--#{$button} {
    background-color: $value;
    color: white;
    text-transform: uppercase;    
  }
}
// div[class="grid__row"] div[class="grid__col--12"]{
//     @include flexy($dir: row, $wrap: wrap, $just: space-between);

// }
