// Buttons:
// .btn--default
// .btn--success
// .btn--error
// .btn--warning
// .btn--info
// .theme__colors.

@each $button, $value in $buttons-colors {
  .btn--#{$button} {
    background-color: $value;
    color: white;
    &:hover {
      color: $color-hover;
     background-color: blue;
      -webkit-transition:$value 2s ease-out;
      -moz-transition:$value 2s ease-out;
      -o-transition: $value 2s ease-out;
      transition:$value 2s ease-out;
    }
    }
  }

// div[class="grid__row"] div[class="grid__col--12"]{
//     @include flexy($dir: row, $wrap: wrap, $just: space-between);

// }
