// Buttons:
// .btn--default
// .btn--success
// .btn--error
// .btn--warning
// .btn--info
// .theme__colors.

@each $button, $value in $buttons-colors {
  .btn--#{$button} {
    background-color: $value;
    color: white;
    -webkit-transition: background-color 0.3s ease-out;
      -moz-transition: background-color 0.3s ease-out;
      -o-transition:  background-color 0.3s ease-out;
      transition: background-color 0.3s ease-out;
    &:hover {
      color: $color-hover;
     background-color:darken($value,30%);
      
    }
    }
  }

// div[class="grid__row"] div[class="grid__col--12"]{
//     @include flexy($dir: row, $wrap: wrap, $just: space-between);

// }
