// Forms:
// .form
// .form__label--hidden
// .form__input.form__label--hidden{
form {
  @include flexy($dir: column, $align: center);
  width: 100%;
  @include media(768px) {
    width: 92%;
    height: 100%;
    margin: auto;
    .form__input {
      width: 90%;
    }
  }
}
.form__label--hidden {
  display: none;
}

.form__input {
  border: none;
  background: none;
  font-weight: 500;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid $color-bg;
  width: 90%;
  margin: 1rem;

}
.form__input{
  @include media(1440px){
    font-size: get-vw(20px);
  }
  @include media(768px) {
    font-size: get-vw(22px);
  }
  @include media(1024px) {
    font-size: get-vw(20px);
  }
}
