// Forms:
// .form
// .form__label--hidden
// .form__input.form__label--hidden{
form{
  @include media(768px){
    width:90%;
    
  }
}
.form__label--hidden {
  display: none;
}

.form__input {
  border: none;
  background: none;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-bottom: 0.9rem;
  border-bottom: 6px solid $color-bg;
  // margin-bottom: 0.7rem;
  width: 87%;
  // margin-left: 6%;
  margin: 1rem;
}
@include media(768px) {
  .form__input {
    margin-left: 8%;
  }
}

.form {
  @include flexy($dir: column, $align: center);
}