// Grid:
// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors
.container {
  @include flexy($wrap: wrap, $just: center, $dir: column, $align: center);
  padding: 20px;
}
.grid__row {
  @include flexy($wrap: wrap, $just: center, $dir: column, $align: center);
  width: 100%;

  @include media(768px) {
    @include flexy($dir: row, $just: space-between, $wrap: nowrap);
    // for .grid__col width to 768px
    @for $i from 1 through 12 {
      .grid__col--#{$i} {
        width: 100%/12 * $i;
      }
    }

  }
}

// for .grid__col width to mobile
@for $i from 1 through 12 {
  .grid__col--#{$i} {
    width: 100%/12;
  }
}


@each $grid-color, $color in $grid-colors {
  .theme__colors.grid__col--#{$grid-color} {
    background-color: $color;
  }
}
.centered {
  margin: auto!important;
}

