// Typography:
// .container
// .link
// .blockquote
// .headline--primary
// .headline--secondary
.headline--primary {
  color: $headl-primary-color;
  padding: 10px;
  font-size: $headl-primary;
}
.headline--secondary {
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 40px;
}
.headline--secondary:first-child {
  margin-top: 50px;
  margin-bottom: 0px;
}
a.link {
  font-weight: bold;
  color: $color-bg-light;
  text-decoration: none;
}

.blockquote {
  margin: 5px 5px 40px 20px;
  border-left: 10px solid $color-bg;
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 5px;
  font-style: italic;
  width: 90%;
  font-size: $bquote;
  color: $color-text;
}
.card {
  @include flexy($dir: column);
}

.headline--secondary {
  @include media(1440px) {
    font-size: get-vw(20px);
  }
  @include media(768px) {
    font-size: get-vw(22px);
  }
}
.blockquote {
  @include media(1440px) {
    font-size: get-vw(32px);
  }
  @include media(768px) {
    font-size: get-vw(27px);
  }
}
.headline--primary {
  @include media(1440px) {
    font-size: get-vw(33px);
  }
  @include media(768px) {
    font-size: get-vw(31px);
  }
}
