// Typography:
// .container
// .link
// .blockquote
// .headline--primary
// .headline--secondary
.headline--primary {
  color: $headl-primary-color;
  padding: 10px;
  font-size: $headl-primary;
}
.headline--secondary {
  font-weight: 500;
}
.headline--secondary:first-child {
  margin-top:50px;

  margin-bottom: 0px;
}
a.link {
  font-weight: bold;
  color: $color-bg-light;
  text-decoration: none;
}
// cambiar de sitio y ponerlo donde va cada cosa la querie de abajo

// @include media(768px){
//   div[class="grid__col--3"] a:first-child {
//     @include flexy();
//     width: 70%;
//     height: 95%;
//     // border: 1px solid red;
//   }
//   div[class="grid__row"]{
//     & div[class="grid__col--3"]:first-of-type {
//       // border: 1px solid pink;
//       @include flexy($disp: inline-flex, $just: center);
//     }
//     & div[class="grid__col--9"] {
//       // border: 1px solid black;
//       @include flexy($disp: inline-flex);
//       & nav {
//         justify-content: space-around;
//         margin-top: 0;
//         margin-left: 0;
//         width: 100%;
//         & ul {
//           width: 62%;
//           font-size: 1.5277777778vw;
//           // quitar el justify-content center y el align items.
//         }
//       }
//     }
//   }
//   .img--logo {
//     // border: 1px solid red;
//     height: 100%;
//     margin-left: 0;
//     margin-top: 0;
//     margin-bottom: 0;

//   }

// }

.blockquote {
  margin: 5px 5px 40px 20px;
  border-left: 10px solid $color-bg;
  border-radius: 6px;
  padding-left: 15px;
  padding-top: 5px;
  font-style: italic;
  width: 90%;
  font-size: $bquote;
  color: $color-text;
}
.card {
  @include flexy($dir: column);
}

// .headline--secondary {
//   @include media(1440px) {
//     font-size: get-vw(20px);
//   }
//   @include media(768px) {
//     font-size: get-vw(22px);
//   }
// }
// .blockquote {
//   @include media(1440px) {
//     font-size: get-vw(32px);
//   }
//   @include media(768px) {
//     font-size: get-vw(25px);
//   }
// }
// .headline--primary {
//   @include media(1440px) {
//     font-size: get-vw(33px);
//   }
//   @include media(768px) {
//     font-size: get-vw(31px);
//   }
// }
