// the universal selector (*)
// ul elements
// p elements
*,
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: $color-text;
  font-family: Helvetica, sans-serif;
  width: $width;
}
ul {
  list-style: none;
}
p {
  color: $color-text;
// AQUI IRIA LA LLAMADA A LA FUNCION.
  line-height: 1.4;
  margin-top:10px;
  text-align: start;
   
  }
p{
  @include media(1440px){
    font-size: get-vw(20px);
  }
  @include media(768px) {
    font-size: get-vw(22px);
  }
  @include media(1024px) {
    font-size: get-vw(23px);
  }
}
